<template>
  <div class='barcas'>
    <header>
      <h2>Barcas</h2>
      <div class='buttons'>
        <button class='circle' :class='{ loading }' @click='refrescar'>
          <LoadingIcono />
        </button>
        <router-link tag='button'
          class='circle primary'
          to='/barcas/crear'
          ><InIcono /></router-link>
      </div>
    </header>
    <!-- TODO: poner en <header> -->
    <nav class='inline-nav'>
      <a href='#'
        :class='{ active: filtro === Filtros.ABORDADAS }'
         @click.prevent="e => prefFiltro = Filtros.ABORDADAS"
        >Abordadas</a>
      <a href='#'
        :class='{ active: filtro === Filtros.A_ABORDAR }'
         @click.prevent="e => prefFiltro = Filtros.A_ABORDAR"
        >A abordar</a>
    </nav>
    <div class='lista-barcas' v-if='barcasFiltradas.length > 0'>
      <barca
        :barca='barca'
        :key='barca.id'
        :borderColor='colors[(index % colors.length)]'
        :updateKey='updateKey'
        v-for='(barca, index) in barcasFiltradas' />
    </div>
    <div class='lista-barcas' v-else-if='barcasFiltradas'>
      <template v-if='filtro === Filtros.ABORDADAS'>
        No abordaste ninguna barca.
      </template>
      <template v-else>
        Ya estas en todas las barcas :)
      </template>
    </div>
    <template v-else-if='error'>
      Error: {{ error }}
    </template>
    <template v-else-if='loading'>
      Cargando...
    </template>
  </div>
</template>

<script>
import { mapState } from 'vuex'

import InIcono from '@/assets/iconos/in.svg?inline'
import LoadingIcono from '@/assets/iconos/loading.svg?inline'
import Barca from '@/components/Barca'

const Filtros = { ABORDADAS: 1, A_ABORDAR: 2 }

export default {
  name: 'BarcasView',
  components: { InIcono, LoadingIcono, Barca },
  data () {
    return {
      error: null,
      loading: true,
      updateKey: 0,
      Filtros,
      prefFiltro: Filtros.ABORDADAS,
      colors: ['#FD5051', '#FFA959', '#FFF661', '#61EF94', '#6FBEFB', '#9063E9'],
    }
  },
  computed: {
    ...mapState(['barcas']),
    barcasFiltradas () {
      return this.barcas
        .filter(
          ({ abordada }) => this.filtro === Filtros.ABORDADAS ? abordada : !abordada
        )
    },
    filtro () {
      return this.sinBarcas > 0 ? this.prefFiltro : Filtros.A_ABORDAR
    },
    sinBarcas () {
      const barcasAbordadas = this.barcas.filter(({ abordada }) => abordada)
      return barcasAbordadas.length > 0
    },
  },
  methods: {
    refrescar() {
      this.error = null
      this.loading = true
      return this.$store
        .dispatch('conseguirTodasLasBarcas')
        .catch(error => (this.error = error))
        .finally(() => {
          this.loading = false
          this.updateKey = ++this.updateKey
        })
    },
  },
  watch: {
    filtro () {
      this.refrescar()
    },
  },
  mounted() {
    // fetch data
    this.refrescar()
  },
}
</script>

<style lang='sass' scoped>
.barcas
  margin: 0 20px
.lista-barcas
  margin: 20px 0
</style>
