<template>
  <form @submit.prevent="crearConsenso">
    <h1>Crear propuesta</h1>

    <span class="error" v-if="errors.titulo"
      v-for="error in errors.titulo">{{ error }}</span>
    <input
      type="text"
      placeholder="Titulo de la propuesta"
      name='titulo'
      autocomplete="off"
      required
    />

    <span class="error" v-if="errors.texto"
      v-for="error in errors.texto">{{ error }}</span>
    <textarea
      name='texto'
      placeholder="Descripción..."
      autocomplete="off"
      required
    />

    <custom-button :loading="loading" class="primary">
      Crear propuesta
    </custom-button>
  </form>
</template>

<script>
import CustomButton from '@/components/Button'
import { grabValues } from '@/utils'

export default {
  name: 'CrearConsensoView',
  data() {
    return {
      errors: {},
      loading: false,
    }
  },
  components: {
    CustomButton,
  },
  computed: {
    barcaId() {
      return parseInt(this.$route.params.id)
    },
  },
  methods: {
    crearConsenso(event) {
      const consenso = grabValues(event)

      this.loading = true
      this.errors = {}
      this.$store
        .dispatch('crearConsenso', { consenso, barcaId: this.barcaId })
        .then(consenso => this.$router.push(`/barcas/${this.barcaId}/consensos/${consenso.id}`))
        .catch(errors => [console.error(errors), this.errors = errors])
        .finally(() => (this.loading = false))
    },
  },
}
</script>

<style scoped>
.error {
  color: red;
}
.crear-consenso {
  margin: 0 0.5em;
  text-align: center;
}
</style>
