<template>
  <div class="crear-cuenta">
    <form @submit.prevent="crearCuenta">
      <h1>Creando cuenta...</h1>
      <field>
        <label for="nick">
          Tu nickname
          <span class="error" v-if="errors.nick" v-for="error in errors.nick">{{ error }}</span>
        </label>
        <input type="text" id="nick" v-model="nick" autocomplete="off" />
      </field>
      <field>
        <label for="email">
          Tu email
          <span class="error" v-if="errors.email" v-for="error in errors.email">{{ error }}</span>
        </label>
        <input type="email" id="email" v-model="email" autocomplete="off" />
      </field>
      <field>
        <label for="password">
          Tu contraseña
          <span class="error" v-if="errors.password" v-for="error in errors.password">{{ error }}</span>
        </label>
        <input type="password" id="password" v-model="password" autocomplete="off" />
      </field>
      <!-- TODO: confirmar contraseñas? -->
      <custom-button :loading="loading" class="primary">Crear cuenta</custom-button>
    </form>
  </div>
</template>

<script>
import Field from '@/components/Field'
import CustomButton from '@/components/Button'

export default {
  name: 'CrearCuentaView',
  data () {
    return {
      nick: '',
      email: '',
      password: '',
      errors: {},
      loading: false,
    }
  },
  components: {
    Field,
    CustomButton,
  },
  methods: {
    crearCuenta (event) {
      const { nick, email, password } = this
      const userData = { nick, email, password }

      this.loading = true
      this.errors = {}
      this.$store.dispatch('crearCuenta', userData)
        .then(res => this.$router.replace('/'))
        .catch(errors => this.errors = errors)
        .finally(() => this.loading = false)
    },
  },
}
</script>

<style scoped>
.error { color: red; }
.crear-cuenta {
  padding: 0 20px;
}
</style>
