<template>
  <form @submit.prevent='crearBarca'>
    <h1>Crear barca!</h1>

    <span class="error"
      v-if="errors.nombre" v-for="error in errors.nombre"
      >{{ error }}</span>
    <input type='text'
      name='nombre'
      placeholder='Nombre'
      autocomplete='off'>

    <span class="error"
      v-if="errors.descripcion" v-for="error in errors.descripcion"
      >{{ error }}</span>
    <textarea
      placeholder="Descripción"
      name='descripcion'
      autocomplete="off"
    />

    <custom-button :loading='loading' class='primary'>
      Crear barca
    </custom-button>
  </form>
</template>

<script>
import CustomButton from '@/components/Button'

export default {
  name: 'CrearBarcaView',
  components: { CustomButton },
  data() {
    return {
      loading: false,
      errors: {},
    }
  },
  methods: {
    crearBarca(event) {
      const [ nombre, descripcion ] = [
        event.target.nombre.value,
        event.target.descripcion.value,
      ]

      this.loading = true
      this.errors = {}
      this.$store.dispatch('crearBarca', {
        nombre, descripcion,
      })
        .then(barca => this.$router.push(`/barcas/${barca.id}`))
        .catch(errors => (this.errors = errors))
        .finally(() => (this.loading = false))
    }
  }
}
</script>
