<template>
  <div class="iniciar-sesion">
    <logo class="logo" :showText="false" />
    <form @submit.prevent="iniciarSesion">
      <p v-if="redirect">necesitas iniciar sesión para ir acá.</p>
      <div v-if="error" class="error">{{ error }}</div>
      <input
        type="email"
        placeholder="Email"
        v-model="email"
        autocomplete="off"
      />
      <input
        type="password"
        placeholder="Contraseña"
        v-model="password"
        autocomplete="off"
      />
      <custom-button :loading="loading" class="primary"
        >Iniciar sesión</custom-button
      >
    </form>
  </div>
</template>

<script>
import Field from '@/components/Field'
import CustomButton from '@/components/Button'

import Logo from '@/components/Logo'

export default {
  name: 'IniciarSesionView',
  data() {
    return {
      email: '',
      password: '',
      loading: false,
      error: null,
    }
  },
  components: {
    Field,
    CustomButton,
    Logo,
  },
  computed: {
    redirect() {
      return this.$route.query.redirect
    },
  },
  methods: {
    iniciarSesion(event) {
      const { email, password } = this

      this.loading = true
      this.errors = {}
      this.$store
        .dispatch('logIn', { email, password })
        .then(res => this.$router.replace(this.redirect || '/'))
        .catch(error => (this.error = error))
        .finally(() => (this.loading = false))
    },
  },
}
</script>

<style scoped>
.logo {
  padding: 10% 35%;
}
</style>
