<template>
  <span class="icono-de-estado" :style="{ '--color': color || 'white' }" :aria-label='label'>
    <span v-if='cantidad !== undefined' class="cantidad">{{ cantidad }}</span>
    <slot></slot>
    <IconoAFavor v-if="tipo === 'a_favor'" />
    <IconoBloqueo v-else-if="tipo === 'bloqueo'" />
    <IconoEnContra v-else-if="tipo === 'en_contra'" />
    <IconoIndiferente v-else-if="tipo === 'indiferente'" />
    <IconoMeComprometo v-else-if="tipo === 'compromiso'" />
    <span>{{ label }}</span> <!-- XXX -->
  </span>
</template>

<script>
import IconoAFavor from '@/assets/iconos/a-favor.svg?inline'
import IconoBloqueo from '@/assets/iconos/bloqueo.svg?inline'
import IconoEnContra from '@/assets/iconos/en-contra.svg?inline'
import IconoIndiferente from '@/assets/iconos/indiferente.svg?inline'
import IconoMeComprometo from '@/assets/iconos/me-comprometo.svg?inline'

export default {
  name: 'IconoDeEstado',
  props: ['tipo', 'cantidad', 'label'],
  components: {
    IconoAFavor,
    IconoBloqueo,
    IconoEnContra,
    IconoIndiferente,
    IconoMeComprometo,
  },
  computed: {
    color() {
      switch (this.tipo) {
        case 'compromiso':
          return '#ff00fc'
        case 'a_favor':
          return '#00ff5c'
        case 'en_contra':
          return '#ff0000'
        case 'indiferente':
          return '#ffff00'
        default:
          return 'white'
      }
    },
  },
}
</script>

<style lang="sass" scoped>
.icono-de-estado
  display: flex
  flex-direction: column
  align-items: center
  margin: 0 0.3em
  .cantidad
    align-self: flex-start
  svg
    max-height: 3.5em
    max-width: 3.5em
    width: 100%

.cantidad
  background: var(--color)
  border: 5px solid black
  border-radius: 1em
  font-weight: bold

  width: 1.7em
  height: 1.7em

  display: flex
  align-items: center
  justify-content: center
</style>
