<template>
  <div v-html='markdownHtml'></div>
</template>

<script>
import commonmark from 'commonmark'

const reader = new commonmark.Parser()
const writer = new commonmark.HtmlRenderer({ safe: true })

export default {
  name: 'Markdown',
  props: ['markdown'],
  computed: {
    markdownHtml() {
      return writer.render(reader.parse(this.markdown))
    },
  },
}
</script>
