<template>
  <form @submit.prevent="tomarPosicion">
    <h3>
      <template v-if="posicionPrevia">
        cambiar posición
      </template>
      <template v-else>
        tomar posición
      </template>
    </h3>
    <p class="error" v-if="error">{{ error }}</p>
    <field>
      <label for="estado">estado</label>
      <!-- hay que abolirlo :P -->
      <select name="estado" id="estado" v-model="estado">
        <option value="compromiso">Me comprometo</option>
        <option value="a_favor">A favor</option>
        <option value="en_contra">En contra</option>
        <option value="bloqueo">BLOQUEO!</option>
        <option value="indiferente">Indiferente</option>
      </select>
    </field>
    <field>
      <label for="comentario">
        comentario (opcional)
      </label>
      <textarea id="comentario" v-model="comentario" autocomplete="off" />
    </field>
    <custom-button :loading="loading" class="primary" :class="{ done }">
      <span class="ghost">
        crear posición
      </span>
      <span class="texto">
        crear posición
      </span>
      <span class="done">
        listo!
      </span>
    </custom-button>
  </form>
</template>

<script>
import Field from '@/components/Field'
import CustomButton from '@/components/Button'

export default {
  name: 'TomarPosicionForm',
  props: ['consensoId', 'posicionPrevia', 'barcaId'],
  components: { Field, CustomButton },
  data() {
    let posicion = {
      estado: 'indiferencia',
      comentario: '',
    }
    if (this.posicionPrevia) {
      posicion = {
        estado: this.posicionPrevia.estado,
        comentario: this.posicionPrevia.comentario,
      }
    }
    return {
      ...posicion,
      loading: false,
      done: false,
      error: null,
    }
  },
  methods: {
    tomarPosicion(event) {
      const { consensoId, barcaId, estado, comentario } = this
      const posicion = { estado, comentario }

      this.loading = true
      this.error = null
      this.$store
        .dispatch('crearPosicion', {
          barcaId, consensoId,
          posicion,
        })
        .then(() => {
          this.done = true
          setTimeout(() => (this.done = false), 1200)
        })
        .catch(error => (this.error = error))
        .finally(() => (this.loading = false))
    },
  },
}
</script>

<style lang="sass" scoped>
h3
  margin: 0.5em auto
.error
  background: red
  padding: 15px
  color: var(--background)
button
  .done, .texto
    position: absolute
  .done
    transition: .25s opacity
    opacity: 0
  .ghost
    color: transparent
  &.done
    .done
      opacity: 1
    .texto
      opacity: 0
</style>
